.page-wrapper {
  height: 100%;
}

.view-enter-active,
.view-leave-active {
  transition: 0.2s;
}

.view-enter,
.view-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.view-enter-to {
  transition-delay: 0.2s;
}

.view-enter-to,
.view-leave {
  opacity: 1;
  transform: translateX(0);
}
